<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

<aside class="logo">

	{% assign link = '/' %}
	{% assign prompt = 'Back to the About page' %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>
</aside>

<aside class="menu">

	<ul class="top-menu">
		{% if page.url != '/' %}
			{% assign link = '/' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> About </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> About </a> </li>
		{% endif %}
		{% if page.url != '/research' %}
			{% assign link = '/research' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Research </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> Research </a> </li>
		{% endif %}
	</ul>
	<ul class="bottom-menu">
		{% if page.url != '/CV' %}
			{% assign link = '/CV' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> CV </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> CV </a> </li>
		{% endif %}
		{% if page.url != '/misc' %}
			{% assign link = '/misc.html' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Misc </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> Misc </a> </li>
		{% endif %}
		{% if page.url != '/contact' %}
			{% assign link = '/contact' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Contact </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> Contact </a> </li>
		{% endif %}
	</ul>

</aside>
